body {
    margin: 2% 1% 1% 1%;
    padding: 1% 1% 5% 1%;
    border-style: groove;
    border-radius: 0.5%;
}

header {
    position: fixed;
    background-color: white;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom:  0%;
    padding-top: 0.5%;
    padding-left: 1%;
    border-width: 2px;
    border-style: solid;
    border-color: #474747;
    width: 90%
}

nav {
    position: sticky;
}

nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

main {
    margin-top: 30vh;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-auto-flow: row;
}

@media (min-width: 1080px) {
    main {
        grid-template-columns: 2; /* Adjust number of columns as needed */
        grid-auto-rows: minmax(3cm, auto);  /* Adjust sizing as needed */
        grid-template-rows: repeat(2, auto); 
    }

    #misc, #LoremIpsum {
        grid-column: span 2;  /* Makes certain sections span all columns */
    }

}

:root {
    --primary-color: hsl(9, 100%, 64%);;
}

button {
    color: white;
    background-color: var(--primary-color, blue); /* Fallback to blue if --primary-color is not available */
}

*{
    font-family:Roboto;
}

[href] {
    color: #FF7F2A;
}

h2:hover{
    color: #A000FB;
}

a:active{
    color: #0000FF;

}

#LoremIpsum p {
    font-style: italic;
    color: darkred;
    text-align: center;
    text-decoration: overline;
}

nav > ul > li {
    border-bottom: 2pt solid rgb(256, 127, 42) ;
}

#memes ~ section {
    background-color: #707070;
}

#video + section {
    background-color: lightyellow;
}

p.combo {
    border-style: dotted;
    border-width: 2px;
    padding: 1vh;
    font-size: 1.1em;

}

.smol{
    width: 10%;
    height: 20%;
    min-width: 50px;
    max-width: 200px;

}
#l1 {
    display: none;
}
#l2 {
    display: inline;
}
#l3 {
    display: inline;
}